.music-title {
    text-align: center;
    color: #ffc200;
    margin-top: 56px;
}

.soundcloud-wrapper {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.soundcloud-audio {
    margin-bottom: 2rem;
}